@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Fira Sans", serif;
}
body{
    background-color: #F1F1F3;
}

/* hover effect */
.hover:hover{
    background-color: black;
    cursor: pointer;
}

/* nav bar styles */
#nav-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:24px 160px;
}
.nav-title{
    font-size: 42px;
    font-weight: bold;
}
#nav-bar input{
    padding: 15px 30px;
    box-sizing: border-box;
    border: 1px solid #006A50;
    border-radius: 8px;
    color: #006A50;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

/* main section styles */
#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 160px 0 160px;
}

/* banner section styles */
#banner{
    width: 1390px;
    height: 540px;
    background-color: #C6E4D6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    padding: 80px 100px;
    margin-bottom: 80px;

}
.banner-sub-title{
    font-size: 30px;
    font-weight: 600;
    color: #0E0E0E;
    opacity: 50%;
    margin-bottom: 16px;
}
.banner-title{
    font-size: 84px;
    font-weight: bold;
    margin-bottom: 24px;
}
#banner input{
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    border-radius: 8px;
    color: white;
    background-color: #006A50;
    border: none;
}
#banner input:hover{
    background-color: red;
}


/* pillar section styles */
#pillars{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 80px;
}
.pillars-heading{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 32px;
    color: #0E0E0E;
}
.pillars-container{
    width: 1590px;
    display: flex;
    gap: 24px;
}
.pillar{
    border: 1px solid #0e0e0e23;
    border-radius: 16px;
    padding: 24px;
    background-color: white;
}
.pillar-image{
    width: 70px;
    margin-bottom: 24px;
}
.pillar-sub-heading{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 12px;
    color: #0e0e0ec4;
}
.pillar-description{
    font-size: 18px;
    font-weight:400;
    color: #0e0e0e8a;
}


/* vision section styles */
#vision{
    width: 1590px;
    display: flex;
    flex-direction: column;
}
.vision-heading-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.vision-heading{
    font-size: 42px;
    color: #0e0e0ea4;
    margin-bottom: 24px;
}
.vision-description{
    font-size: 18px;
    color: #0e0e0ea6;
    margin-bottom: 40px;
}
.vision-pillar-container{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    gap: 30px;
    margin-bottom: 80px;
}
.vision-image{
    width: 70;
    margin-bottom: 24px;
}
.vision-pillar-1{
    padding: 32px;
    border: none;
    border-radius: 16px;
    background-color: #548ff53a;   
}
.vision-pillar-2{
    padding: 32px;
    border: none;
    border-radius: 16px;
    background-color: #C6E4D6;
}
.vision-pillar-3{
    padding: 32px;
    border: none;
    border-radius: 16px;
    background-color: #F7EBCF;
}
.vision-pillar-heading{
    font-size: 24px;
    margin-bottom: 24px;
    color: #0E0E0E;
}
.vision-pillar-description{
    font-size: 22px;
    margin-bottom: 24px;
    color: #0e0e0e8a;
}

.pillar-button-1{
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #5490F5;
}
.pillar-button-2{
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #09A15C;
}
.pillar-button-3{
    padding: 12px 24px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: #FFC239;
}

.vision-quotes{
    background-image: url(assets/quote-bg.png);
    background-repeat: no-repeat;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid black;
    border-radius: 16px;
    padding: 24px;
    margin-bottom: 80px;
}
.quotes-description{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 24px;
}
.quotes-signature{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.quotes-post{
    font-size: 18px;
    font-weight: 400;
}

/* news section styles */
#news{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin-bottom: 80px;
}
.news-title{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 18px;
}
.news-description{
    font-size: 18px;
    color: #0e0e0ea6;
    margin-bottom: 32px;
}

.news-article-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background-color: white;
    gap: 32px;
    padding: 48px;
    margin-bottom: 30px;
}

.news-image{
    border-radius: 24px;
}
.article-title{
    font-size: 36px;
    margin-bottom: 12px;
}
.news-logo-image{
    margin-bottom: 8px;
}
.news-datetime{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
    color: #0e0e0ea6;
}
.article-description{
    font-size: 18px;
    font-weight: 400;
    color: #0e0e0ea6;
    margin-bottom: 28px;
}
.news-button{
    font-size: 18px;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: #006A50;
    color: white;
    padding: 14px 28px;
}

/* dontaion section styles */
#donation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donation-title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donation-title{
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 24px;
}
.donation-description{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 30px;
}
.donation-amount{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-bottom: 30px;
}
.donate-taka{
    padding: 50px 70px;
    border: 1px solid #00000023;
    border-radius: 16px;
    background-color: white;
    font-size: 48px;
    font-weight: bold;
}
.donate-taka:hover{
    cursor: pointer;
    background-color: #C6E4D6;
}
.donate-custom-amount{
    display: flex;
    justify-content: center;
    align-items: center;
}
#custom-donation-amount{
    font-size: 18px;
    font-weight: 400;
    padding: 20px 600px;
    border-radius: 8px;
    border: none;
    margin-bottom: 30px;
}
.complete-donation{
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #006A50;
    border-radius: 8px;
    border: none;
    padding: 18px 36px;
    margin-bottom: 80px;
}